{% extends "default.njk" %}

{% block seo %}
  <meta http-equiv="refresh" content="0; url=https://drive.google.com/file/d/1jEF-6a9rf5kn-zCkuydww15VoHeaosjX/view" />
{% endblock %}

{% block heading %}
  <!-- No content needed here since it's a redirect -->
{% endblock %}
