<section class="block hero-block">
  {% include "shortcodes/boop-drop.njk" %}

  <h1 class="hero">
    <span class="hero-first-line">Radha</span>
    <span class="hero-box"> Krishna </span>
    <span class="hero-tagline">has a lot of ideas</span>
  </h1>

  <button class="hero-cycle">
    <span class="sr-only">change tagline</span>
  </button>
</section>
