<section id="teaching" class="block learning-block">
  <div class="block-intro">
    <h2>WORK WITH RK</h2>
    <p class="lede">
      Some Projects I Have Worked on
    </p>
  </div>
  <ul class="platforms">
    {% for platform in platforms %}
    <li class="platform">
      <a href="{{ platform.link }}" class="platform-link">
        <img
          src="{{ platform.image }}"
          alt="{{ platform.label }}"
        />
      </a>
      <div class="platform-card">
        <h2 class="platform-name">
          <a href="{{ platform.link }}">{{ platform.label }}</a>
        </h2>
        <p class="platform-description">{{ platform.description | safe }}</p>
        <a class="platform-link-text" href="{{ platform.link }}">check it out &rarr;</a>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>
