<section id="contact" class="block contact-block">
  <div class="block-intro">
    <h2>Contact Me</h2>
    <p class="lede">
      If you have any questions or just want to reach out, feel free to drop a message. I look forward to connecting with you!
    </p>
  </div>

  {% include "shortcodes/newsletter-form.njk" %}
</section>
