{% extends "default.njk" %}

{% block seo %}
<title>Radha Krishna Garg</title>

<link rel="canonical" href="{{ siteUrl }}/" />
<meta name="description" content="Rk Works Hard" />
<meta name="image" content="https://github.com/sinisterdaddy/Extras/blob/main/b.jpeg" />

<meta property="og:type" content="website" />
<meta property="og:url" content="{{ siteUrl }}/" />
<meta property="og:description" content="Rk Works Hard" />
<meta property="og:image" content="https://github.com/sinisterdaddy/Extras/blob/main/b.jpeg" />

<meta name="twitter:dnt" content="on" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:creator" content="@jlengstorf" />
<meta name="twitter:title" content="A Very Jason Lengstorf Website — Powered By Boops!" />
<meta name="twitter:description" content="Rk Works Hard" />
<meta name="twitter:image" content="https://github.com/sinisterdaddy/Extras/blob/main/b.jpeg" />
{% endblock %}

{% block main %}
<main class="home">
  {% include "shortcodes/hero.njk" %}
  {% include "shortcodes/bio.njk" %}
  {% include "shortcodes/learning.njk" %}
  {% include "shortcodes/subscribe.njk" %}
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.10.0/matter.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"></script>
<script src="/scripts/home.min.js"></script>
{% endblock %}
